parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        -
            message: '~Property NorseBlue\\ValueObjects\\SingleImmutableValueObject::\$value is not writable.~'
            path: src/Traits/SingleValueObjectBehavior.php
